# Ignorar Todo
*
**/*

# Excepto los tipos
!*.gitignore
!*.c
!*.h
!*.s
!*.ls
!*.launch
!*.cfg
!*.ioc
!*.project
!*.cproject
!*.ld
!*.mxproject
!USB-CH340 Driver/**


# Incluso si están en un subdirectorio (afecta a los anteriores tipos)
!*/